@font-face {
  font-family: 'SHLOP';
  src: url('../fonts/SHLOP.ttf') format('truetype');
}
@font-face {
  font-family: 'luxirb';
  src: url('../fonts/luxirb.ttf') format('truetype');
}
@font-face {
  font-family: 'luxirbiitalic';
  src: url('/fonts/luxirbiitalic.ttf') format('truetype');
}
body {
  font-family: 'luxirbiitalic';
  position: relative;
  width: 100%;
  height: 100%;
  color: #e7db74;
  background-image: url("../img/starsbgicreeps.jpg");
  background-size: cover;
}

html {
  width: 100%;
  height: 100%;
}

h1{
  font-family: 'SHLOP';
  font-size: 88px;
  text-shadow: 11px 11px 7px #4e4098;
}
h2{
  font-family: 'luxirbiitalic';
  text-decoration:underline;
  font-size: 42px;
}
h3{
  font-family: 'luxirbiitalic';
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-align: justify;
}
h4{
  background-color: #4e4098;
}
h5,
h6 {
  font-family: 'luxirbiitalic';
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform:capitalize;
}

p {
  font-family: 'luxirbiitalic';
  font-size: 24px;
  line-height: 1.5;
  margin: 0 0 25px;
  text-align: center;
}


@media (min-width: 768px) {
  p {
    font-size: 24px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}

a {
  transition: all 0.2s ease-in-out;
  color: #e7db74;
}

a:focus, a:hover {
  text-decoration: none;
  color: #e7db74;
}

#mainNav {
  font-family: 'luxirb';
  margin-bottom: 0;
  text-transform: capitalize;
  background-color: transparent;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  color: transparent;
  outline: none;
}

#mainNav .navbar-brand {
  
  font-family: 'SHLOP';
}

#mainNav a {
  color: transparent;
  outline: none;
}

#mainNav .navbar-nav .nav-item {
  transition: background 0.3s ease-in-out;
  outline: none;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(#E7DB74, 80%);
  outline: none;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    background: transparent;
    outline: none;
  }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    background: transparent;
    outline: none;
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: transparent;
  }
  #mainNav .nav-link.active:hover {
    color: transparent;
    outline: none;
  }
}

header {
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: center;
  color: #E7DB74;
  background: url("../img/section0-bg.png") no-repeat bottom center scroll;
  background-color: none;
  background-size: contain;
  padding-bottom: 50px;
  justify-content: center
}

#intro-body {
  display: table-cell;
  vertical-align: middle;
}
header h1 {
  font-size: 88px;
}
header p {
  font-size: 24px;
}

.improve-contrast-box {
  background: rgba(0, 0, 0, 0);
  border-radius: 0px;
}


@media (min-width: 900px) {
  header {
    height: 100%;
    padding: 0;
    background-size: contain;
  }
@media (min-width: 768px) {
  header {
    height: 100%;
    padding: 0;
    background-size: cover;
  }
  
  header h1 {
    font-size: 100px;
  }
  header p {
    font-size: 24px;
  }
}

.btn-circle {
  font-size: 26px;
  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;
  transition: background 0.3s ease-in-out;
  color: #E7DB74;
  border: 2px solid #E7DB74;
  border-radius: 100% !important;
  background: #4e4098;
}

.btn-circle:focus, .btn-circle:hover {
  color: #E7DB74;
  outline: none;
  background: none;
}
.section-2 {
  color: #E7DB74;
  background: url("../img/gif-icreeps-small.gif") no-repeat center center scroll;
  background-color: transparent;
  background-size: fill;
  background-repeat: no-repeat;
  margin: 25px;
  padding: 100px;
  z-index: 0;
}

.content-section {
  margin-top: 0;
  padding-top: 100px;

  padding-bottom: 150px;

}
.section-1 {
  background-color: transparent;
  background-size: fill;
  background-repeat: no-repeat;

  background-size: fill;
  margin-top: 0px;
  padding-top: 50px;
}

#map {
  width: 100%;
  height: 300px;
}

@media (min-width: 992px) {
  .content-section {
    padding-top: 150px;
    padding-bottom: 50px;
    margin-top:0 px;
    background-size: cover;
  }
  #map {
    height: 350px;
  }
}
@media only screen and (max-width: 565px) and (min-width: 0px) {
  .header {
    
    display: none;
    background: none !important;
    background-image: none;
    background-color: black;
    background-size: cover;
  }
}

.btn {
  font-family: luxirb;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-default {
  color: #E7DB74;
  border: 1px solid #E7DB74;
  background-color: #4e4098;
}

.btn-default:focus, .btn-default:hover {
  color: black;
  border: 1px solid #E7DB74;
  outline: none;
  background-color: #4e4098;
}

ul.banner-social-buttons {
  margin-top: 0;
  font-size: 0;
}


}



footer {
  padding: 0px;
  margin: 0px;
}

footer p {
  font-size: 0px;
  margin: 0;
}

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

img::selection {
  background: transparent;
}

ul {
  font-family: luxirb;
  display: table;
  margin: 0 auto;
  text-align: center;
  font-size: 26px;

}
}